{% load static %}
<!DOCTYPE html>
<html lang="{{ html_language }}">

<head>
    {% include 'global/partials/head.html' %}
    <title>{% block title %}{% endblock title %}Blog</title>
</head>
<body>
    <header class="header-container">
        {% include "global/partials/menu.html" %}
        {% include 'global/partials/header.html' %}
    </header>

    <main class="main-container">
        {% block content %}{% endblock content %}
    </main>
    {% include "global/partials/pagination.html" %}
    {% include "global/partials/footer.html" %}
    <script src="{% static 'global/js/script.js' %}"></script>
</body>

</html>