<footer class="footer-container">
    <div class="footer-content">
        <div class="footer-content-left">
            <h2>Blog Name</h2>
            <p>Blog Description</p>
        </div>
        <div class="footer-content-right">
            <h2>Follow Us</h2>
            <div class="social-media">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
</footer>