<div class="space-between">
    <nav class="nav-bar">
        <ul class="ul-bar">
            <li><a href="#">Videos</a></li>
            <li><a href="#">Photos</a></li>
        </ul>
    </nav>
    <div class="search-container">
        <div class="container">
            <form action="" method="GET" class="search-form">
                <input type="search" class='search-input' name='q' value="" required placeholder="Search">
                <button type='submit' class="search-button"><i class='fas fa-search'></i></button>
            </form>
        </div>
    </div>

</div>