:root {
    --color-dark-blue: #240750;
    --color-gray: #344C64;
    --color-light-gray: #577B8D;
    --color-blue-gree: #57A6A1;

    --small-padding: 0.5rem;
    --medium-padding: 1rem;
    --large-padding: 2rem;

    --small-margin: 0.5rem;
    --medium-margin: 1rem;
    --large-margin: 2rem;

    --small-font-size: 1rem;
    --medium-font-size: 1.5rem;
    --large-font-size: 2rem;

    --border-radius: 0.5rem;
    --headings-font: 'Roboto', sans-serif;


}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headings-font);
}

a {
    text-decoration: none;
    color: var(--color-blue-gree);
}

body {
    background-color: #6666661c;
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: var(--large-padding);
}

/* Form */

.form-content {
    max-width: 64rem;
    margin: 0 auto;
    margin-bottom: var(--large-margin);
}

.form-content label,
.form-content .help-text,
.errorlist {
    display: block;
    margin: 0.5rem 0;
    font-size: 1.4rem;
    list-style-type: none;
}

.errorlist {
    color: red;
}

.form-content input,
.form-content textarea,
.form-content select {
    width: 100%;
    padding: 1rem;
    border-radius: 0.4rem;
    border: 1px solid var(--color-dark-blue);
}

.form-content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: calc(var(--medium-padding) / 2) var(--large-padding);
}

.form-content button {
    padding: 1rem 2rem;
    border: none;
    background: var(--color-dark-blue);
    color: white;
}

.inline-form {
    display: inline;
}

.span-2 {
    grid-column: span 2;
}

.plaintext-button {
    display: inline;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--color-dark-blue);
    font-size: 1.6rem;
}

.button-send-container {
    margin-top: var(--medium-margin);
}

.link-post-full {
    color: var(--color-dark-blue);
}

.date-post {
    color: var(--color-light-gray);
}

.effect-square {
    background-color: var(--color-dark-blue);
    font-weight: bold;
    font-size: var(--medium-font-size);
    text-align: center;
    display: inline;
}

/* Pagination */

.pagination-content {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 1rem 0.5rem;
    margin: var(--medium-margin);
}

.pagination .page-item {
    background: var(--color-gray);
    color: white;
    padding: 0.5rem 1rem;
}

.pagination .page-link {
    text-decoration: none;
    background: var(--color-dark-blue);
    color: white;
}

.pagination .page-current {
    background: var(--color-dark-blue);
}


/* Header Styles */

.space-between {
    display: flex;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
    justify-content: center;
    padding: var(--medium-padding);
    flex-direction: row;
    margin: var(--medium-margin);
}

.ul-bar {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: var(--medium-margin);
}

.ul-bar li {
    font-size: var(--small-font-size);
}

.ul-bar li a {
    color: var(--color-dark-blue);
}

.blog-name {
    text-align: center;
    font-size: var(--large-font-size);
    background-color: var(--color-dark-blue);
    padding: 3rem;
}

.blog-name h1 a {
    color: white;
}

/* Search style */

.search-container {
    display: flex;
    justify-content: center;
    padding: var(--medium-padding);
}

.search-form {
    border: 0.2rem solid var(--color-dark-blue);
    max-width: 64rem;
    margin: 0 auto;
    border-radius: 0.4rem;
    position: relative;
    transition: all 300ms ease-in-out;
}

.search-input,
.search-button {
    border: none;
    background: none;
    outline: none;
    padding: 1rem;
    transition: all 300ms ease-in-out;
}

.search-input {
    width: 100%;
    padding-right: 3rem;
}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
}

.search-button:focus {
    outline: 1px solid var(--color-light-gray);
    background: rgba(0, 0, 0, 0.05);
}

.search-form:focus-within {
    border-color: var(--color-light-gray);
    background: white;
}

.search-form:focus-within .search-button {
    color: var(--color-light-gray);
}

/* Main content style */

.main-content {
    padding-top: 0;
    border-radius: var(--border-radius);
}

.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: var(--medium-margin);
    margin: var(--large-padding);
    justify-items: center;
}

.post {
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition: all 300ms ease-in-out;
    overflow: hidden;
    height: fit-content;
    max-width: 64rem;
}

.post:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.post-image img {
    width: 100%;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.post-content {
    display: flex;
    flex-direction: column;
    padding: var(--medium-padding);
    gap: var(--large-margin);
    justify-items: center;
}

/* Footer style */

.footer-container {
    background-color: var(--color-dark-blue);
    color: white;
    padding: var(--large-padding);
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: var(--medium-margin);
}

.social-media {
    display: flex;
    gap: var(--medium-margin);
}

/* Detail styles */
.container-detail-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--large-margin);
    gap: var(--large-margin);
    max-width: 64rem;
}

.container-image-detail-post img {
    max-width: 100%;
    border-radius: 3px;
    box-shadow: 1rem 0 0.8rem rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.img-content-post {
    width: 100%;
}

.container-content-detail-post {
    display: flex;
    flex-direction: column;
    font-size: var(--medium-font-size);
    color: var(--color-gray);
    text-align: justify;
    gap: var(--large-margin);
}

.container-content-detail-post h2 {
    font-size: var(--large-font-size);
    color: var(--color-dark-blue);
}

.container-content-detail-post p {
    display: flex;
    flex-direction: column;
    font-size: var(--medium-font-size);
    color: var(--color-gray);
    text-align: justify;
}


/* Reponsive */

@media screen and (max-width: 768px) {
    .main-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .container-image-detail-post img {
        max-width: 99%;
    }

    .container-content-detail-post img p {
        max-width: 50%;
    }

    /* Search */
    .search-form {
        max-width: 100%;
    }

    .search-input {
        width: 100%;
    }

    .search-button {
        padding: 1rem;
    }

    /* Header */

    .nav-bar {
        flex-direction: column;
    }

    .ul-bar {
        flex-direction: column;
        gap: var(--medium-margin);
    }

    .blog-name {
        padding: var(--small-padding);
    }

    .blog-name h1 {
        font-size: 60px;
    }

}

@media screen and (max-width: 380px) {
    .main-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .container-image-detail-post img {
        max-width: 90%;
    }

    .img-content-post {
        width: 80%;
    }

    /* Search */
    .search-form {
        max-width: 100%;
    }

    .search-input {
        width: 100%;
    }

    .search-button {
        padding: 1rem;
    }

    /* Header */

    .nav-bar {
        flex-direction: column;
    }

    .ul-bar {
        flex-direction: column;
        gap: var(--medium-margin);
    }

    .blog-name {
        padding: var(--small-padding);
    }

    .blog-name h1 {
        font-size: 60px;
    }
}