{% extends "global/base.html" %}
{% block title %}Dashboard | {% endblock title %}

{% block content %}
<div class="main-container-dashboard">
    <a href="{% url "author:dashboard_author_is_published" %}">Click here for published post</a>
    <h2>Dashboard {{ profile }}</h2>
    <div class="main-container">
        {% for post in posts %}
            {% include "author/partials/unpublished_post.html" %}
            {% empty %}
                <div class="center m-y">
                    <p>No posts found here</p>
                </div>
        {% endfor %}
    </div>
</div>
{% endblock content%}